
.btn {
	background: $brand-primary;
	color: black;
}

/* // if using iframes
.js-add-to-playlist {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -60px * 0.5 - $grid-gutter-width; // - padding

	right: 0; //$grid-gutter-width * 0.5;
	margin-right: 0;
	font-size: 60px;
	line-height: 1;
	color: white;
	text-shadow: 0 0 5px black;
	cursor: pointer;
	// Pad the fuck out of it because, why not? we wanna be clickin' yo
	padding: $grid-gutter-width;
	background: none;
	border: none;
	z-index: 1;
}
*/
.js-add-to-playlist:hover {
	color: $brand-primary;
	/* // meh, weird
	&:before {
		background: white;
		border-radius: 50%;
	} */
}

// if using images
.js-add-to-playlist {
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: 0;

	font-size: 60px;
	line-height: 1;
	color: white;
	text-shadow: 0 0 5px black;
	cursor: pointer;
	background: none;
	border: none;
	z-index: 1;

	transition: color 0.1s ease-out;

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -60px * 0.5;
		margin-left: -60px * 0.5;
	}
}
