
/** Note:
 *  Any bootstrap variables, like $grid-gutter-width don't actually
 *  Override bootstrap at all. They're just for subsequent reference.
 **/

$grid-gutter-width: 30px;

$brand-primary: #E4B700;

$text-color: #433;

$font-size-base: 14px;

$font-family-sans-serif: verdana;