@import "vars";
@import "type";
@import "buttons";
@import "forms";
@import "results";
@import "playlist";

iframe {
	width: 100%;
}
.btn {
	white-space: normal;
	display: inline-block;
	clear: none;
}
.btn--full {
	width: 100%;
	text-align: center;
}

.inline-block { display: inline-block; }

hr {
	clear: both;
	border-color: #ccc;
}